<td> <%= user.id %></td>
<td colspan="3"></td>
<td><%= user.email %></td>
<td colspan="3"></td>
<td> <%= user.username %></td>
<td colspan="3"></td>
<td colspan="3"></td>
<td> 
	<%= link_to 'show', user, class: 'btn btn-primary' %>
	<%= link_to 'edit', edit_user_registration_path, class: 'btn btn-info' %>
</td>